# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
venv/
venv310/
ENV/
env/
*.egg-info/
*.egg
*.db
*.sqlite3
instance/

# Flask
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Others
*.swp
*.bak
*.tmp

# Node
node_modules/

#AI
/app/ai/datasets/
*.jp2
*.tif
*.tiff
