{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>CNN Prediction</h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.image.label(class="form-label") }}
        {{ form.image(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% if result %}
    <div>
        <h3>Prediction Result:</h3>
        <ul>
            <li>Filename: {{ result.filename }}</li>
            <li>Label: {{ result.label }}</li>
            <li>Confidence: {{ result.confidence }}</li>
        </ul>
    </div>
{% endif %}
{% endblock %}


