<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
        <nav>
            <a href="{{ url_for('main.index') }}">Inicio</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a href="{{ url_for('ai.menu') }}">ai menu</a>
            {% else %}
                {% if request.endpoint != 'auth.login' %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
                {% if request.endpoint != 'auth.register' %}
                    <a href="{{ url_for('auth.register') }}">Register</a>
                {% endif %}
            {% endif %}
            {% if current_user.is_authenticated and not current_user.confirmed %}
                <a href="{{ url_for('auth.resend_confirmation') }}">Resend Confirmation</a>
            {% endif %}


        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Mi App</p>
    </footer>
</body>
</html>
